@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AlphaCorsa';
  src: url('/fonts/Alphacorsa-Personal-Use-BF6593ee666a707.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'formula1';
  src: url('/fonts/Formula1-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'formula1';
}

.para {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
}

@keyframes glow {

  0%,
  100% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.5),
      0 0 40px rgba(255, 0, 0, 0.3),
      0 0 60px rgba(255, 0, 0, 0.1);
  }

  50% {
    text-shadow: 0 0 40px rgba(255, 0, 0, 0.8),
      0 0 80px rgba(255, 0, 0, 0.5),
      0 0 120px rgba(255, 0, 0, 0.3);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-glow {
  animation: glow 3s ease-in-out infinite;
}

.animate-gradient {
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

.slide-in{
 position: fixed;
 top: 0;
  left: 0;  
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out{
  position: fixed;
  top: 0;
   left: 0;  
   width: 100%;
   height: 100vh;
   background: #0f0f0f;
   transform-origin: top;
 }